/*

Add styles or override variables from the theme here.

*/

$primary: #159B1C;
$secondary: #403F4C;

body.td-section, body.td-page {
  background-color: #403F4C;
  color: #FFFFFF;

  a {
    color: #159B1C;
  }
}

div.alert.alert-warning {
  background-color: #403F4C;
  color: #FFFFFF;
}

div.alert.alert-info {
  background-color: #403F4C;
  color: #FFFFFF;
}

nav#td-section-nav {
  background-color: #403F4C;
  color: #FFFFFF;

  a {
    color: #159B1C;
  }
}

input.form-control.td-search-input {
  color: #FFFFFF;

    &.form-control:focus {
        color: #000000;
    }
}


td,tr {
  background-color: #403F4C;
  color: #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

div.card, div.card-header {
  background-color: #403F4C;
  border-color: #FFFFFF;
}

